<section class="bonbondex">
    <div class="row largeur">

        {% for candy in candies %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 m-b-35 block-article" id="bonbonDex">
            <div class="block2">
                <div class="block2-pic hov-img0">
                        <img src="{{ candy.image_url }}" alt="Image de l'article {{ candy.product_name }}" class="image-article" >
                </div>
                <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l ">

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark center" data-toggle="modal" data-target="#exampleModal{{ loop.index }}">
                                {{ candy.product_name }}
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <img class="offset-1" src="{{ candy.image_url }}" alt="image du produit">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                            C'est bon les bonbons
                                            </div>

                                            <hr />

                                            <div class="row">
                                                Où me trouver ?
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning" data-dismiss="modal">J'y vais!</button>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <p class="t-center">J'en ai un</p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <div>
        <h2 id="map">Où trouver mes Marshmallows ???</h2>

        <div class="container map">
            <div class="container">
                <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2710.207049454749!2d-1.5729033!3d47.2125309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec0fcda6c4cb%3A0xd620ca38dafa1e9a!2s2+Rue+La+Motte+Picquet%2C+44100+Nantes!5e0!3m2!1sfr!2sfr!4v1423244007186" width="800" height="800" frameborder="0"></iframe>
                <div class="top-left"><img src="http://iconbug.com/data/f5/256/d8b8685b47e8e147f75d4de80e53e55e.png" width="50" height="50" alt="Snow" ></div>
                <div class="top-right"><img src="http://iconbug.com/data/f5/256/d8b8685b47e8e147f75d4de80e53e55e.png" width="50" height="50" alt="Snow" ></div>
                <div class="bottom-right"><img src="http://iconbug.com/data/f5/256/d8b8685b47e8e147f75d4de80e53e55e.png" width="50" height="50" alt="Snow" ></div>
                <div class="centered"><img src="http://iconbug.com/data/f5/256/d8b8685b47e8e147f75d4de80e53e55e.png" width="50" height="50" alt="Snow" ></div>
            </div>
        </div>
    </div>
</section>


